<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxeGDI7EVsrqnXUrVPnG0dexfKvnad63c</string>
	<key>GCM_SENDER_ID</key>
	<string>403008947046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendlyitsolution.demo.firstFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>batch2023project-d5531</string>
	<key>STORAGE_BUCKET</key>
	<string>batch2023project-d5531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403008947046:ios:51f84933b528b8fa8cbea7</string>
</dict>
</plist>